<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Game Changer - Reset Password</title>
  </head>
  <body style="font-family: Arial, sans-serif; line-height: 1.6;">
    <center>
    <img 
      src="https://res.cloudinary.com/dnfgu6ltf/image/upload/v1748246990/oetc4chny2o8lxkcocfg.png" 
      width="100px" 
      alt="Game Changer Logo"
    />
    <p style="font-size:20px;"><b>Password Reset Request!</b></p>
    </center>

    <p>Hi <%= name %>,</p>

    <p>You recently requested to reset your password for your Game Changer account.</p>
    
    <p>Please use the following One-Time Password (OTP) to proceed:</p>

    <h2 style="text-align: center; background-color: #f2f2f2; padding: 10px; border-radius: 5px;"><%= code %></h2>

    <p>This OTP will expire in 10 minutes. If you didn’t request a password reset, you can safely ignore this email.</p>

    <br />
    <p>Best regards,<br />
    Game Changer Team</p>
  </body>
</html>
