<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Welcome to Game Changer</title>
</head>
<body>
  <center>
    <img 
      src="https://res.cloudinary.com/dnfgu6ltf/image/upload/v1748246990/oetc4chny2o8lxkcocfg.png" 
      width="100px" 
      alt="Game Changer Logo"
    />
    <p style="font-size:20px;"><b>Welcome to Game Changer!</b></p>
  </center>

  <br>

  <p>Hi <%= name %>,</p>

  <p>
    Thank you for joining <strong>Game Changer</strong>. We're excited to have you on board!
  </p>

  <p>
    You now have access to explore features, participate in events, and be part of a vibrant community of players and teams.
  </p>

  <p>
    If you have any questions, feel free to reach out to our support team at any time.
  </p>

  <br>

  <p>
    Best Regards,<br/>
    The Game Changer Team
  </p>
</body>
</html>
